
#ball {
    font-size: 50px;
    animation: moveBall 5s linear infinite;
}

@keyframes moveBall {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    50% {
        top: 100%;
        left: 100%;
        transform: translateY(-100%) translateX(-100%);
    }
    75% {
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    }
    100% {
        top: 0;
        left: 0;
    }
}
